.App {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}


form{
  width: 30%;
}

.auth{
  background: url('./img/background.jpg') no-repeat center center /cover;
  height: 100vh;
}

.inner-auth{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}


@media only screen and (max-width: 1024px){
  form {
    width: 60%;
  }
}

.add-new{
  width: 50%;
}

.bg-add{
  background: url('./img/background.jpg') no-repeat center center /cover;
  height: 100vh;
}

.myMG{
  margin-left: 30px;
}

@media only screen and (max-width:900px){
  .myMG{
    margin-left: 0;
  }
}

.edit{
  width: 100%;
}

.imgHover:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: .9;
}